#img{
    width: 200 px;
    height: 200 px;

}
#album{
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: crimson;
}
body
{
    text-align: center;

}